# export IMMICH_TEST_SERVER_URL=https://photos.sa.wedding/api
# export IMMICH_TEST_API_KEY=5IcFqvVXW7Yc2gbtFa6P6B2KgXRZl3nBexmzWBfjw
# export IMMICH_TEST_EMAIL=apple@lav.dev
# export IMMICH_TEST_PASSWORD=apple

export IMMICH_TEST_SERVER_URL=https://demo.immich.app/api
export IMMICH_TEST_EMAIL=demo@immich.app
export IMMICH_TEST_PASSWORD=demo
